<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 col-xl-5 mx-auto d-flex align-items-center justify-content-center">
      <div class="currency-convertor-box">
        <h1 class="currency-convertor-box--heading">Currency Convertor</h1>

        <div class="currency-convertor-box--container">
          <h3 class="currency-convertor-box--heading-secondary">Exchange Rate</h3>
          <p class="currency-convertor-box--converted-value" *ngIf="form.get('convertedValue')?.value > 0">
            {{ form.get("convertedValue")?.value | currency : form.get("to")?.value?.label || "INR" : "symbol-narrow" }}
          </p>
          <p class="currency-convertor-box--converted-value" *ngIf="form.get('convertedValue')?.value === 0">-</p>

          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-12 mb-3">
                <label for="amount" class="form-label currency-convertor-box--label">Amount</label>
                <input (change)="form.get('convertedValue')?.setValue(0)" formControlName="amount" type="number" class="form-control currency-convertor-box--input" id="amount" />
                <app-error-messages
                  [control]="form.get('amount')"
                  [message]="{
                    required: 'Amount is required',
                    max: 'Maximum 25 digits allowed'
                  }"
                ></app-error-messages>
              </div>
              <div class="col-md-4 mb-3" *ngIf="rates.length > 0">
                <label for="From" class="form-label currency-convertor-box--label">From</label>
                <ng-select (change)="form.get('convertedValue')?.setValue(0)" [items]="rates" [clearable]="false" formControlName="from"> </ng-select>
              </div>
              <div class="d-none d-md-flex col-4 mb-3 d-flex align-items-center justify-content-center" *ngIf="rates.length > 0">
                <img src="assets/right-arrow.png" class="currency-convertor-box--icon" alt="Arror Icon" />
              </div>
              <div class="col-md-4 mb-3" *ngIf="rates.length > 0">
                <label for="To" class="form-label currency-convertor-box--label">To</label>
                <ng-select (change)="form.get('convertedValue')?.setValue(0)" [items]="rates" [clearable]="false" formControlName="to"> </ng-select>
              </div>
              <div class="col-12">
                <button type="submit" [disabled]="!form.valid" class="btn btn-primary w-100">Convert</button>
              </div>
              <div class="col-12">
                <small><strong>Note:</strong> Rates are of {{ timestamp }}</small>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
